{% extends "main.html" %}
{% block content %}
<br>
<h2 class="mb-4">
    <a href="{% url 'profesionales' %}" style="text-decoration: none; color: inherit;">
        <i class="bi bi-box-arrow-left" style="font-size: 2rem; margin-right: 8px;"></i>
    </a>
    Registrar Profesional
</h2>

<form id="registrationForm" method="post" enctype="multipart/form-data">
    <!-- Asegúrate de incluir enctype para archivos -->
    {% csrf_token %}

    <!-- Datos Personales -->
    <div class="card mb-4"> <!-- Agregar mb-4 para margen inferior -->
        <div class="card-header bg-primary text-white"> <!-- Clase para fondo gris -->
            <p></p>
            <h4>Datos Personales</h4>
        </div>
        <div class="card-body">
            <div class="mb-3 row">
                <div class="col-12 col-md-6"> <!-- Ajustar para ser responsivo -->
                    <label for="apellido" class="form-label">Apellido: <span class="text-primary">*</label>
                    {{ form.apellido }}
                </div>
                <div class="col-12 col-md-6"> <!-- Ajustar para ser responsivo -->
                    <label for="nombre" class="form-label">Nombre: <span class="text-primary">*</label>
                    {{ form.nombre }}
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-12 col-md-6"> <!-- Ajustar para ser responsivo -->
                    <label for="dni" class="form-label">DNI: <span class="text-primary">*</label>
                    {{ form.dni }}
                </div>
                <div class="col-12 col-md-6">
                    <label for="foto" class="form-label">Foto:</label>
                    {{ form.foto }}
                </div>
            </div>
        </div>
    </div>

    <!-- Datos Profesionales -->
    <div class="card mb-4"> <!-- Agregar mb-4 para margen inferior -->
        <div class="card-header bg-primary text-white"> <!-- Clase para fondo gris -->
            <p></p>
            <h4>Datos Profesionales</h4>
        </div>
        <div class="card-body">
            <div class="mb-3 row">
                <div class="col-12 col-md-6"> <!-- Ajustar para ser responsivo -->
                    <label for="idMatriculaProf" class="form-label">Nº de matrícula del profesional: <span
                            class="text-primary">*</label>
                    {{ form.idMatriculaProf }}
                </div>
                <div class="col-12 col-md-6"> <!-- Ajustar para ser responsivo -->
                    <label for="especialidad" class="form-label">Especialidad: <span class="text-primary">*</label>
                    {{ form.especialidad }}
                </div>
            </div>
        </div>
    </div>

    <!-- Movimientos -->
    <div class="card mb-4"> <!-- Agregar mb-4 para margen inferior -->
        <div class="card-header bg-primary text-white"> <!-- Clase para fondo gris -->
            <p></p>
            <h4>Movimientos</h4>
        </div>
        <div class="card-body">
            <div class="mb-3 row">
                <div class="col-12 col-md-6"> <!-- Ajustar para ser responsivo -->
                    <label for="fecha_ingreso" class="form-label">Fecha de ingreso: <span class="text-primary">*</label>
                    {{ form.fecha_ingreso }}
                </div>
                <div class="col-12 col-md-6"> <!-- Ajustar para ser responsivo -->
                    <label for="fecha_egreso" class="form-label">Fecha de egreso:</label>
                    {{ form.fecha_egreso }}
                </div>
            </div>
            <div class="mb-3">
                <label for="motivo_egreso" class="form-label">Motivo de egreso:</label>
                {{ form.motivo_egreso }}
            </div>
        </div>
    </div>

    <!-- Datos de Contacto -->
    <div class="card mb-4"> <!-- Agregar mb-4 para margen inferior -->
        <div class="card-header bg-primary text-white"> <!-- Clase para fondo gris -->
            <p></p>
            <h4>Datos de Contacto</h4>
        </div>
        <div class="card-body">
            <div class="mb-3 row">
                <div class="col-12 col-md-6"> <!-- Ajustar para ser responsivo -->
                    <label for="domicilio" class="form-label">Domicilio:</label>
                    {{ form.domicilio }}
                </div>
                <div class="col-12 col-md-6"> <!-- Ajustar para ser responsivo -->
                    <label for="cod_postal" class="form-label">Código Postal:</label>
                    {{ form.cod_postal }}
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-12 col-md-6"> <!-- Ajustar para ser responsivo -->
                    <label for="telefono" class="form-label">Teléfono:</label>
                    {{ form.telefono }}
                </div>
                <div class="col-12 col-md-6"> <!-- Ajustar para ser responsivo -->
                    <label for="email" class="form-label">Email: <span class="text-primary">*</label>
                    {{ form.email }}
                </div>
            </div>
        </div>
    </div>

    <!-- Botones -->
    <div class="d-flex flex-wrap justify-content-between">
        <a href="{% url 'profesionales' %}" class="btn btn-outline-dark btn-lg mb-2 mb-md-0">
            <i class="bi bi-box-arrow-left"></i> Volver
        </a>
        <div class="d-flex flex-wrap gap-2">
            <!-- Botón Registrar Profesional -->
            <button type="submit" class="btn btn-outline-primary btn-lg mb-2 mb-md-0" id="btnRegistrar">
                <i class="bi bi-person-plus"></i> Registrar Profesional
            </button>

            <button type="button" class="btn btn-outline-danger btn-lg mb-2 mb-md-0" id="btnBorrar">
                <i class="bi bi-eraser"></i> Borrar
            </button>
        </div>
    </div>

</form>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const fechaIngreso = document.getElementById('id_fecha_ingreso');
        const fechaEgreso = document.getElementById('id_fecha_egreso');
        const motivoEgreso = document.getElementById('id_motivo_egreso');

        // Deshabilitar los campos inicialmente
        fechaEgreso.disabled = true;
        motivoEgreso.disabled = true;

        // Habilitar fecha_egreso cuando se seleccione una fecha en fecha_ingreso
        fechaIngreso.addEventListener('change', function () {
            if (fechaIngreso.value) {
                fechaEgreso.disabled = false;  // Habilitar fecha_egreso
                const fechaSeleccionada = fechaIngreso.value;  // Obtenemos la fecha seleccionada
                fechaEgreso.setAttribute('min', fechaSeleccionada);  // Establecemos la fecha mínima de egreso
            } else {
                fechaEgreso.disabled = true;  // Deshabilitar fecha_egreso si no hay fecha_ingreso
                fechaEgreso.value = '';  // Limpiar el valor de fecha_egreso
                motivoEgreso.disabled = true;  // Deshabilitar motivo_egreso si no hay fecha_egreso
                motivoEgreso.value = '';  // Limpiar el valor de motivo_egreso
            }
        });

        // Habilitar motivo_egreso cuando se seleccione una fecha en fecha_egreso
        fechaEgreso.addEventListener('change', function () {
            if (fechaEgreso.value) {
                motivoEgreso.disabled = false;  // Habilitar motivo_egreso
            } else {
                motivoEgreso.disabled = true;  // Deshabilitar motivo_egreso si no hay fecha_egreso
                motivoEgreso.value = '';  // Limpiar el valor de motivo_egreso
            }
        });

        // Establecer el mínimo inicial de fecha_egreso basado en la fecha de ingreso al cargar la página
        if (fechaIngreso.value) {
            fechaEgreso.setAttribute('min', fechaIngreso.value);
            fechaEgreso.disabled = false;  // Habilitar el campo de fecha_egreso si ya hay fecha_ingreso
        }
    });
    // Validar campos obligatorios
    function validarFormulario() {
        let camposObligatorios = ['id_nombre', 'id_apellido', 'id_dni', 'id_fecha_ingreso', 'id_email', 'id_especialidad', 'id_idMatriculaProf']; // Ajusta los campos según los id correctos
        let camposFaltantes = [];

        camposObligatorios.forEach(function (campo) {
            let input = document.getElementById(campo);
            if (!input.value.trim()) {
                camposFaltantes.push(campo);
                input.classList.add('border', 'border-danger'); // Resalta los campos faltantes con borde rojo
            } else {
                input.classList.remove('border', 'border-danger'); // Elimina el borde rojo si ya está completo
            }
        });

        // Mostrar los campos faltantes si existen
        if (camposFaltantes.length > 0) {
            Swal.fire({
                title: 'Campos obligatorios faltantes',
                text: 'Por favor complete los campos obligatorios.',
                icon: 'warning',
                confirmButtonText: 'Aceptar'
            });
            return false; // No enviamos el formulario
        }

        return true; // Si todos los campos obligatorios están completos, enviamos el formulario
    }

    // Función para confirmar el registro de cliente
    function confirmarRegistrar() {
        if (validarFormulario()) {
            Swal.fire({
                title: 'Confirmar registro',
                text: "¿Desea generar el profesional con los datos proporcionados?",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#28a745',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, generar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById('registrationForm').submit();
                }
            });
        }
    }

    // Botón borrar
    document.getElementById('btnBorrar').addEventListener('click', function () {
        Swal.fire({
            title: 'Confirmar eliminación',
            text: "¿Está seguro de borrar los datos del formulario?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Sí, borrar',
            cancelButtonText: 'Cancelar',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                const form = document.querySelector('#registrationForm');
                form.reset(); // Limpiar los datos del formulario

                // Mostrar mensaje de éxito sin tiempo
                Swal.fire({
                    title: 'Formulario borrado',
                    text: 'Todos los campos han sido limpiados.',
                    icon: 'success',
                    confirmButtonText: 'OK',
                    confirmButtonColor: '#28a745',
                    timer: 3000, // Duración de la alerta
                    showConfirmButton: true // Mostrar siempre el botón "OK"
                });
            }
        });
    });


    // Botón de registro (para confirmar el envío)
    document.getElementById('btnRegistrar').addEventListener('click', function (event) {
        event.preventDefault(); // Evita el envío inmediato del formulario
        confirmarRegistrar(); // Llama a la función para confirmar el registro
    });
</script>
{% endblock %}