{% extends "main.html" %}

{% block content %}

<br>
<h2 class="text-start"><strong>Gestión de Profesionales</strong></h2>
<br>

<!-- Botón para crear un nuevo expediente, ahora en verde -->
<a href="{% url 'crear-profesional' %}" class="btn btn-success mb-3">Agregar Profesional</a>
<hr>

<!-- Contenedor principal -->
<div class="container">
    <h2 class="mb-4">Lista de profesionales</h2>

    <!-- Tabla de expedientes -->
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Nº Matricula</th>
                <th>Apellido</th>
                <th>Nombre</th>
                <th>DNI</th>
                <th>Estado</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for profesional in profesionales %}
            <tr>
                <td>{{profesional.idMatriculaProf}}</td>
                <td>{{profesional.apellido}}</td>
                <td>{{profesional.nombre}}</td>
                <td>{{profesional.dni}}</td>
                <td>{{profesional.estado}}</td>
                <td>
                    <a href="{% url 'profesional' profesional.pk %}" class="btn btn-info btn-sm">Ver</a>
                    <a href="{% url 'actualizar-profesional' profesional.pk %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'eliminar-profesional' profesional.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}