{% extends 'main.html' %}

{% load static %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">
        <a href="{% url 'secretarias' %}" style="text-decoration: none; color: inherit;">
            <i class="bi bi-box-arrow-left" style="font-size: 2rem; margin-right: 8px;"></i>
        </a>
        <strong>Detalles del Secretari@</strong>
    </h2>

    <!-- Sección de Datos Personales y Laborales -->
    <div class="card mb-4">
        <div class="card-header bg-primary text-white">
            <h4>Detalles del Secretari@</h4>
        </div>
        <div class="card-body d-flex">
            <!-- Sección de Datos Personales -->
            <div class="col-6 text-center me-4">
                {% if secretaria.foto %}
                    <img src="{{ secretaria.foto.url }}" alt="Foto de {{ secretaria.get_full_name }}"
                        class="img-fluid rounded mb-3" style="max-width: 200px; border-radius: 15px;">
                {% else %}
                    <img src="{% static 'images/perfil_default.webp' %}" alt="Foto por defecto"
                        class="img-fluid rounded mb-3" style="max-width: 200px; border-radius: 15px;">
                {% endif %}
            </div>

            <!-- Sección de Datos Laborales -->
            <div class="col-6">
                <p><strong>Nombre:</strong> {{ secretaria.nombre }}</p>
                <p><strong>Apellido:</strong> {{ secretaria.apellido }}</p>
                <p><strong>DNI:</strong> {{ secretaria.dni }}</p>
                <p><strong>Profesional vinculado:</strong> {{ secretaria.profesional }}</p>
                {% if secretaria.estado %}
                    <p><strong>Estado:</strong> Activo</p>
                    {% else %}
                    <p><strong>Estado:</strong> Inactivo</p>
                    {% endif %}
                
            </div>
        </div>
    </div>

    <!-- Sección de Datos Laborales y de Contacto -->
    <div class="row mb-4">

        <!-- Sección de Datos de Contacto -->
        <div class="col-12">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4>Datos de Contacto</h4>
                </div>
                <div class="card-body">
                    <p><strong>Dirección:</strong> {{ secretaria.domicilio }}</p>
                    <p><strong>Código Postal:</strong> {{ secretaria.cod_postal }}</p>
                    <p><strong>Teléfono:</strong> {{ secretaria.telefono }}</p>
                    <p><strong>Email:</strong> {{ secretaria.email }}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Sección de Movimientos -->
    <div class="card mb-4">
        <div class="card-header bg-primary text-white">
            <h4>Movimientos</h4>
        </div>
        <div class="card-body">
            <p><strong>Fecha de Ingreso:</strong> {{ secretaria.fecha_ingreso }}</p>
            <p><strong>Fecha de Egreso:</strong> {{ secretaria.fecha_egreso|default:" " }}</p>
            <p><strong>Motivo de Egreso:</strong> {{ secretaria.motivo_egreso|default:" " }}</p>
        </div>
    </div>

    <!-- Botones inferiores -->
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex">
            <a href="{% url 'secretarias' %}" class="btn btn-dark btn-lg">
                <i class="bi bi-box-arrow-left"></i> Volver
            </a>
        </div>
        <a href="{% url 'actualizar-secretaria' secretaria.dni %}" class="btn btn-warning ms-auto btn-lg">
            <i class="bi bi-pencil"></i> Editar
        </a>
    </div>

</div>
{% endblock %}