{% extends "main.html" %}


{% block content %}
<br>
<h2 class="text-start"><strong>Gestión de profesionales</strong></h2>
<br>

<h3 class="mb-4">Editar profesional</h3>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="POST" class="mb-5 p-4 shadow-sm bg-white rounded" enctype="multipart/form-data">
                {% csrf_token %}
                
                <!-- Renderiza el formulario de Django con clases de Bootstrap -->
                {{ form.as_p }}

                <!-- Contenedor de los botones -->
                <div class="d-flex justify-content-start">
                    <!-- Botón de Crear -->
                    <button type="submit" class="btn btn-success me-2">Guardar cambios</button>
                    <!-- Botón de Cancelar -->
                    <a href="{% url 'profesionales' %}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}



