{% extends "main.html" %}

{% block content %}
<br>
<br>
<h2 class="mb-4">
    <a href="{% url 'clientes' %}" style="text-decoration: none; color: inherit;">
        <i class="bi bi-box-arrow-left" style="font-size: 2rem; margin-right: 8px;"></i>
    </a>
    Actualizar Cliente <b>{{ cliente.apellido }}, {{ cliente.nombre }}</b>
</h2>


<form id="formRegistrarCliente" method="post" enctype="multipart/form-data">
    <!-- Asegúrate de incluir enctype para archivos -->
    {% csrf_token %}
    <!-- Contenedor para Datos Personales e Información Laboral -->
    <!-- Datos Personales -->
    <div class="card mb-4"> <!-- Agregar mb-4 para margen inferior -->
        <div class="card-header bg-primary text-white"> <!-- Clase para fondo gris -->
            <p></p>
            <h4>Datos Personales</h4>
        </div>
        <div class="card-body">
            <div class="mb-3 row">
                <div class="col-12 col-md-6"> <!-- Ajustar para ser responsivo -->
                    <label for="apellido" class="form-label">Apellido:</label>
                    {{ form.apellido }}
                </div>
                <div class="col-12 col-md-6"> <!-- Ajustar para ser responsivo -->
                    <label for="nombre" class="form-label">Nombre:</label>
                    {{ form.nombre }}
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-12 col-md-6"> <!-- Ajustar para ser responsivo -->
                    <label for="dni" class="form-label">DNI:</label>
                    {{ form.dni }}
                </div>
                <div class="col-12 col-md-6">
                    <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento</label>
                    {{ form.fecha_nacimiento }}
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-12 col-md-6">
                    <label for="fecha_ingreso" class="form-label">Fecha de Ingreso</label>
                    {{ form.fecha_ingreso }}
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4"> <!-- Agregar mb-4 para margen inferior -->
        <div class="card-header bg-primary text-white"> <!-- Clase para fondo gris -->
            <p></p>
            <h4>Datos Laborales</h4>
        </div>
        <div class="card-body">
            <div class="mb-3 row">
                <div class="col-12 col-md-6"> <!-- Ajustar para ser responsivo -->
                    <label for="ocupacion" class="form-label">Ocupacion:</label>
                    {{ form.ocupacion }}
                </div>
                <div class="col-12 col-md-6"> <!-- Ajustar para ser responsivo -->
                    <label for="lugar_laboral" class="form-label">Lugar Laboral:</label>
                    {{ form.lugar_laboral }}
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-12 col-md-6"> <!-- Ajustar para ser responsivo -->
                    <label for="años_aportes" class="form-label">Años De Aportes:</label>
                    {{ form.años_aportes }}
                </div>
            </div>
        </div>
    </div>


    <div class="card mb-4"> <!-- Agregar mb-4 para margen inferior -->
        <div class="card-header bg-primary text-white"> <!-- Clase para fondo gris -->
            <p></p>
            <h4>Contacto</h4>
        </div>
        <div class="card-body">
            <div class="mb-3 row">
                <div class="col-12 col-md-6"> <!-- Ajustar para ser responsivo -->
                    <label for="domicilio" class="form-label">Domicilio:</label>
                    {{ form.domicilio }}
                </div>
                <div class="col-12 col-md-6"> <!-- Ajustar para ser responsivo -->
                    <label for="cod_postal" class="form-label">Cod Postal:</label>
                    {{ form.cod_postal }}
                </div>
            </div>
            <div class="mb-3 row">
                <div class="col-12 col-md-6"> <!-- Ajustar para ser responsivo -->
                    <label for="telefono" class="form-label">Telefono:</label>
                    {{ form.telefono }}
                </div>
                <div class="col-12 col-md-6">
                    <label for="email" class="form-label">Email</label>
                    {{ form.email }}
                </div>
            </div>
        </div>
    </div>

    <!-- Botones -->
    <div class="d-flex flex-wrap justify-content-between">
        <a href="{% url 'clientes' %}" class="btn btn-outline-dark btn-lg mb-2 mb-md-0">
            <i class="bi bi-box-arrow-left"></i> Volver
        </a>
        <div class="d-flex flex-wrap gap-2">
            <!-- Botón Registrar Cliente -->
            <button type="button" class="btn btn-outline-primary btn-lg mb-2 mb-md-0" id="btnRegistrar"
                onclick="confirmarRegistrar();">
                <i class="bi bi-cloud-arrow-up"></i> Actualizar Cliente
            </button>
        </div>
    </div>


</form>
<script>
    // Función para confirmar el registro de cliente
    function confirmarRegistrar() {
        Swal.fire({
            title: '¿Estás seguro?',
            text: "¿Quieres actualizar a este cliente?",
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#28a745', // verde para confirmar
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, actualizar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                // Envía el formulario después de la confirmación
                document.getElementById('formRegistrarCliente').submit();
            }
        });
    }
</script>

{% endblock content %}