{% extends "main.html" %}

{% block content %}

<br>
<button onclick="openModal()">Nueva Tarea</button>


<!-- Contenedor del calendario -->
<div id='calendar'></div>

<!-- Modal para el formulario de crear tarea -->
<div id="crearTareaModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Nueva Tarea</h2>
        <form action="{% url 'crear-tarea' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar</button>
        </form>
    </div>
</div>

<!-- FullCalendar JavaScript -->
<script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    const calendarEl = document.getElementById('calendar');
    const calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      events: '/turnos/turnos-json/',  // URL de la vista que devuelve los turnos en formato JSON
      eventClick: function(info) {
        const startDate = info.event.start;
        const endDate = info.event.end;

        // Formatear la fecha y hora
        const dateString = startDate.toLocaleDateString('es-ES', { year: 'numeric', month: 'numeric', day: 'numeric' });
        const startTimeString = startDate.toLocaleTimeString('es-ES', { hour: '2-digit', minute: '2-digit' });
        const endTimeString = endDate.toLocaleTimeString('es-ES', { hour: '2-digit', minute: '2-digit' });

        // Mostrar alerta con información organizada incluyendo el profesional
        alert(`${info.event.title}\nCliente: ${info.event.extendedProps.cliente}\nSolicitante: ${info.event.extendedProps.solicitante}\nMotivo: ${info.event.extendedProps.motivo} \nFecha: ${dateString}\nHora: ${startTimeString} - ${endTimeString}\nProfesional: ${info.event.extendedProps.professional}`);
      }
    });
    calendar.render();
  });
</script>

<!-- JavaScript para controlar la apertura y cierre del modal -->
<script>
  function openModal() {
    document.getElementById("crearTareaModal").style.display = "block";
  }

  function closeModal() {
    document.getElementById("crearTareaModal").style.display = "none";
  }
</script>

{% endblock content %}
