{% extends "main.html" %}

{% block content %}

<div id="crearTareaModal" class="modal" style="display: block;"> <!-- Temporalmente visible con display:block para verificar -->
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <h2>Nueva Tarea</h2>
        <form action="{% url 'crear-tarea' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar</button>
        </form>
    </div>
</div>

<script>
  // Función para cerrar el modal
  function closeModal() {
    document.getElementById("crearTareaModal").style.display = "none";
  }

  // Mostrar el modal automáticamente al cargar la página
  window.onload = function() {
    document.getElementById("crearTareaModal").style.display = "block";
  };
</script>

{% endblock content %}
