.nav-item.divider {
    border-left: 1px solid black;
    height: 40px;
    margin: 0 15px;
  }

  /* Estilo del botón de login */
#loginButton {
  position: relative;
  overflow: hidden;
  width: 100%;
  color: white;
  background-color: #6c757d; /* Color inicial del botón */
  border-color: #6c757d;
  transition: background-color 0.5s ease;
}

/* Barra de progreso dentro del botón */
#progressBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #28a745; /* Color verde de progreso */
  transition: width 2s ease; /* Duración del progreso */
}

#loginButton:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}