{% extends "main.html" %}

{% block content %}

<h4>Crear movimiento para el expediente: {{expediente.numero_expediente}} </h4>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form method="POST" class="mb-5 p-4 shadow-sm bg-white rounded" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.as_p }}

                <!-- Renderiza el formset de documentos -->
                {{ documento_formset.management_form }}
                <h5>Documentos</h5>
                {% for form in documento_formset %}
                    <div class="mb-3">
                        {{ form.as_p }}
                    </div>
                {% endfor %}

                <div class="d-flex justify-content-start">
                    <button type="submit" class="btn btn-success me-2">Añadir</button>

                    <a href="{% url 'movimientos' expediente.numero_expediente %}" class="btn btn-secondary">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}



