{% extends "main.html" %}

{% block content %}

<br>
<h1 class="text-start">Gestión de Expedientes</h1>
<br>

<!-- Botón para crear un nuevo expediente, ahora en verde -->
<a href="{% url 'crear-expediente' %}" class="btn btn-success mb-3">Crear expediente</a>
<hr>

<!-- Contenedor principal -->
<div class="container">
    <h2 class="mb-4">Lista de expedientes</h2>

    <!-- Tabla de expedientes -->
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Nº Expediente</th>
                <th>Cliente</th>
                <th>Abogado</th>
                <th>Responsable</th>
                <th>Fecha de Inicio</th>
                <th>Asunto</th>
                <th>Estado</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for expediente in expedientes %}
            <tr>
                <td>{{ expediente.numero_expediente }}</td>
                <td>{{ expediente.cliente }}</td>
                <td>{{ expediente.profesional }}</td>
                <td>-</td>            
                <td>{{ expediente.fecha_inicio }}</td>
                <td>---</td>
                <td>
                    <span class="badge bg-success">ACTIVO</span>
                </td>
                <td>
                    <a href="{% url 'expediente' expediente.pk %}" class="btn btn-info btn-sm">Ver</a>
                    <a href="{% url 'actualizar-expediente' expediente.pk %}" class="btn btn-warning btn-sm">Editar</a>
                    <a href="{% url 'eliminar-expediente' expediente.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
