{% extends "main.html" %}

{% block content %}


<br>
<h1>Gestion de Expedientes</h1>
<br>

<a href="{% url 'crear-expediente' %}" class="boton">Crear expediente</a>
<hr>

<div class="container">
    <h2>Lista de expedientes</h2>
    <table class="expedientes-table">
        <thead>
            <tr>
                <th>Fecha de Inicio</th>
                <th>Responsable</th>
                <th>Cliente</th>
                <th>Asunto</th>
                <th>Abogado</th>
                <th>Nº Expediente</th>
                <th>Estado</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for expediente in expedientes %}
            <tr>
                <td>{{expediente.fecha_inicio}}</td>
                <td>-</td>
                <td>{{expediente.cliente}}</td>
                <td>---</td>
                <td>{{expediente.profesional}} </td>
                <td>{{expediente.numero_expediente}}</td>
                <td><span class="status en-curso">ACTIVO</span></td>
                <td>
                    <a href="{% url 'expediente' expediente.pk %}">
                        <button class="btn ver">Ver</button>
                    </a>
                    <a href="{% url 'actualizar-expediente' expediente.pk %}">
                        <button class="btn editar">Editar</button>
                    </a>
                    <a href="{% url 'eliminar-expediente' expediente.pk  %}">
                        <button class="btn eliminar">Eliminar</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
