{% extends "main.html" %}
{% block content %}

<br>
<div class="my-4">
    <h2>
        <i class="bi bi-archive"></i> Gestión de Expedientes
    </h2>
</div>
<hr>

<div class="d-flex justify-content-between align-items-center mb-3">

    <!-- Sección de botones alineados a la izquierda -->
    <div class="d-flex">
        {% if user.rol == 'Admin' or user.rol == 'Abogado' %}
        <a href="{% url 'crear-expediente' %}" class="btn btn-success me-2">
            <i class="bi bi-plus-lg"></i> Crear expediente
        </a>
        {% endif %}
        <a href="{% url 'expedientes-inactivos' %}" class="btn btn-danger me-2">Inactivos</a>

        <!-- Botón desplegable de filtrado -->
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle d-flex align-items-center" type="button"
                id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-funnel me-2"></i> <!-- Icono antes del texto -->
                Filtrar
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="?order=fecha_inicio_asc">Fecha de inicio (Ascendiente)</a></li>
                <li><a class="dropdown-item" href="?order=fecha_inicio_desc">Fecha de inicio (Descendiente)</a></li>
                <li><a class="dropdown-item" href="?order=apellido_asc">Apellido del cliente (A-Z)</a></li>
                <li><a class="dropdown-item" href="?order=apellido_desc">Apellido del cliente (Z-A)</a></li>
                <li><a class="dropdown-item" href="?order=apellido_pro_asc">Apellido del profesional (A-Z)</a></li>
                <li><a class="dropdown-item" href="?order=apellido_pro_desc">Apellido del profesional (Z-A)</a></li>
            </ul>
        </div>
    </div>

    <!-- Formulario de búsqueda alineado a la derecha -->
    <form method="GET" action="{% url 'expedientes' %}" class="d-flex ml-auto">
        <div class="input-group">
            <input type="text" name="q" class="form-control me-2"
                placeholder="Buscar por Nº Exp, cliente, profesional..." value="{{ q }}">
            <button type="submit" class="btn btn-primary rounded" aria-label="Buscar">
                <i class="bi bi-search"></i>
            </button>
            <a href="{% url 'expedientes' %}" class="btn btn-danger ms-1 rounded" aria-label="Limpiar">
                <i class="bi bi-x-circle"></i>
            </a>
        </div>
    </form>

</div>


<hr>

<!-- Contenedor principal -->
<div class="container">
    <h2 class="mb-4">Lista de expedientes</h2>

    <!-- Tabla de expedientes -->
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Nº Expediente</th>
                <th>Cliente</th>
                <th>Abogado</th>
                <th>Apoderado</th>
                <th>Fecha de Inicio</th>
                <th>Estado</th>
                {% comment %} <th>Asunto</th> {% endcomment %}
                <th>Movimientos</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for expediente in expedientes %}
            <tr>
                <td>{{ expediente.numero_expediente }}</td>
                <td>{{ expediente.cliente }}</td>
                <td>{{ expediente.profesional }}</td>
                <td>{{ expediente.apoderado }}</td>
                <td>{{ expediente.fecha_inicio }}</td>
                <td>
                    {% if expediente.estado %}
                    <span class="text-success">Activo</span>
                    {% else %}
                    <span class="text-danger">Inactivo</span>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'movimientos' expediente.numero_expediente %}"><i
                            class="bi bi-box-arrow-up-right"></i></i></a>
                </td>
                <td>

                    <a href="{% url 'expediente' expediente.numero_expediente %}" class="btn btn-info btn-sm">
                        <i class="bi bi-eye"></i>
                    </a>
                    {% if request.user.rol == "Admin" or request.user.rol == "Abogado" %}
                    <a href="{% url 'actualizar-expediente' expediente.numero_expediente %}"
                        class="btn btn-warning btn-sm">
                        <i class="bi bi-pen"></i>
                    </a>
                    <!-- Formulario para dar de baja -->
                    <form id="darDeBajaForm" action="{% url 'dar-de-baja-expediente' expediente.pk %}" method="post"
                        style="display:inline;">
                        {% csrf_token %}
                        <button type="button" class="btn btn-danger btn-sm" title="Dar de baja"
                            onclick="confirmarBaja();">
                            <i class="bi bi-arrow-down-circle"></i>
                        </button>
                    </form>
                    {% comment %} <a href="{% url 'eliminar-expediente' expediente.numero_expediente %}"
                        class="btn btn-danger btn-sm">
                        <i class="bi bi-trash-fill"></i>
                    </a> {% endcomment %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Paginación -->
    {% if is_paginated %}
    <nav aria-label="Paginación">
        <ul class="pagination justify-content-center">
            {% if expedientes.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?q={{ q }}&page=1" aria-label="Primera">
                    <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?q={{ q }}&page={{ expedientes.previous_page_number }}"
                    aria-label="Anterior">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&laquo;&laquo;</span>
            </li>
            <li class="page-item disabled">
                <span class="page-link" aria-hidden="true">&laquo;</span>
            </li>
            {% endif %}

            <!-- Número de páginas -->
            {% for num in expedientes.paginator.page_range %}
            {% if expedientes.number == num %}
            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
            {% elif num > expedientes.number|add:'-3' and num < expedientes.number|add:'3' %} <li class="page-item"><a
                    class="page-link" href="?q={{ q }}&page={{ num }}">{{ num }}</a></li>
                {% endif %}
                {% endfor %}

                {% if expedientes.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?q={{ q }}&page={{ expedientes.next_page_number }}"
                        aria-label="Siguiente">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?q={{ q }}&page={{ expedientes.paginator.num_pages }}"
                        aria-label="Última">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">&raquo;</span>
                </li>
                <li class="page-item disabled">
                    <span class="page-link" aria-hidden="true">&raquo;&raquo;</span>
                </li>
                {% endif %}
        </ul>
    </nav>
    {% endif %}

</div>
<script>
    function confirmarBaja() {
        Swal.fire({
            title: '¿Estás seguro?',
            text: "Esta acción dará de baja el expediente.",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#d33',
            cancelButtonColor: '#3085d6',
            confirmButtonText: 'Sí, dar de baja',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                document.getElementById('darDeBajaForm').submit();
            }
        });
    }
</script>

{% endblock content %}