{% extends "main.html" %}

{% block content %}

<h2 class="text-start"><strong>Movimientos del expediente: {{expediente.numero_expediente}} </strong></h2>
<br>
<a href="{% url 'crear-movimiento' expediente.numero_expediente %}" class="btn btn-success">Añadir movimiento</a>
<hr>


<div class="container">

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Nº Expediente</th>
                <th>Estado</th>
                <th>Ubicacion</th>
                <th>Observaciones</th>
                <th>Archivos</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for movimiento in movimientos %}
            <tr>
                <td>{{movimiento.expediente.numero_expediente}}</td>
                <td>{{movimiento.estado}}</td>
                <td>{{movimiento.ubicacion}}</td>
                <td>{{movimiento.observaciones}}</td>
                <td>{{movimiento.archivos}}</td>
                {% comment %} <td>
                    {% if profesional.estado == 'activo' %}
                        <span class="text-success">{{ profesional.estado }}</span>
                    {% elif profesional.estado == 'inactivo' %}
                        <span class="text-danger">{{ profesional.estado }}</span>
                    {% else %}
                        <span>{{ profesional.estado }}</span>  {# Para otros estados que no sean activos o inactivos #}
                    {% endif %}
                </td> {% endcomment %}
               <td>
                    {% comment %} <a href="{% url 'profesional' .pk %}" class="btn btn-info btn-sm">
                        <i class="bi bi-eye"></i>
                    </a> {% endcomment %}
                    <a href="{% url 'actualizar-movimiento' movimiento.id_mov %}" class="btn btn-warning btn-sm">
                        <i class="bi bi-pen"></i>
                    </a>
                    <a href="{% url 'eliminar-movimiento' movimiento.id_mov %}" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash-fill"></i>
                    </a> 
                </td> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock content %}



