{% extends "main.html" %}
{% block content %}

<br>
<div class="my-4">
    <h2 class="text-start">
        <i class="bi bi-arrow-left-right"></i>  <!-- Ícono de documento -->
        <strong>Movimientos del expediente N°</strong> {{ expediente.numero_expediente }}
    </h2>
</div>
<hr>

<a href="{% url 'expedientes' %}" class="btn btn-dark me-3">
    <i class="bi bi-box-arrow-left"></i> Volver
</a>
{% if request.user.rol == "Admin" or request.user.rol == "Abogado" or request.user.rol == "Secretaria" %}
<a href="{% url 'crear-movimiento' expediente.numero_expediente %}" class="btn btn-success"> <i class="bi bi-plus-circle-dotted"></i> Añadir movimiento</a>
{% endif %}

<hr>
<div class="container">
    <h2 class="mb-4">Lista de Movimientos</h2>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Fecha</th>
                <th>Sit. Actual</th>
                <th>Tipo</th>
                <th>Detalle</th>
                <th>Ubicacion</th>
                <th>Documentos</th>
                {% if request.user.rol == "Admin" or request.user.rol == "Abogado" or request.user.rol == "Secretaria" %}
                <th class="col-opciones-mov">Opciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for movimiento in movimientos %}
            <tr>
                <td>{{ movimiento.fecha }}</td>
                <td>{{ movimiento.sit_actual }}</td>
                <td>{{ movimiento.tipo }}</td>
                <td class="detalle-columna">{{ movimiento.detalle }}</td>
                <td>{{ movimiento.ubicacion }}</td>
                <td class="documentos-columna">
                    {% if movimiento.documentos.exists %}
                    <ul>
                        {% for documento in movimiento.documentos.all %}
                        <li><a href="{{ documento.documentos.url }}" target="_blank">{{ documento.documentos.name }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    No hay documentos
                    {% endif %}
                </td>
                {% if request.user.rol == "Admin" or request.user.rol == "Abogado" or request.user.rol == "Secretaria" %}
                <td class="col-opciones-mov">

                    <a href="{% url 'actualizar-movimiento' movimiento.id_mov %}" class="btn btn-warning btn-sm">
                        <i class="bi bi-pen"></i>
                    </a>
                    {% comment %} <a href="{% url 'eliminar-movimiento' movimiento.id_mov %}" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash-fill"></i>
                    </a> {% endcomment %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>



{% endblock content %}