{% extends "main.html" %}

{% block content %}
    <br>
    <h2 class="text-start"><strong>Gestión de Expedientes</strong></h2>
    <br>

    <h3 class="mb-4">Editar expediente</h3>

    <!-- Formulario con Bootstrap -->
    <form method="POST" class="mb-5">
        {% csrf_token %}
        {{ form.as_p }}

        <!-- Botones alineados con Bootstrap -->
        <div class="d-flex justify-content-start mt-4">
            <!-- Botón Guardar -->
            <button type="submit" class="btn btn-success me-2">Guardar cambios</button>
            
            <!-- Botón Cancelar -->
            <a href="{% url 'profesionales' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
{% endblock content %}
