{% extends "main.html" %}

{% block content %}

<br>
<h2 class="text-start"><strong>Actualizar movimientos del expediente: {{expediente.numero_expediente}} </strong></h2>
<br>

<!-- Formulario con Bootstrap -->
<form method="POST" class="mb-5" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    {% if movimiento.archivos %}
    <p>Archivo actual: <a href="{{ movimiento.archivos.url }}">{{ movimiento.archivos.name }}</a></p>
    {% endif %}

    <!-- Botones alineados con Bootstrap -->
    <div class="d-flex justify-content-start mt-4">
        <!-- Botón Guardar -->
        <button type="submit" class="btn btn-success me-2">Guardar cambios</button>
        
        <!-- Botón Cancelar -->
        <a href="{% url 'movimientos' expediente.numero_expediente %}" class="btn btn-secondary">Cancelar</a>
    </div>
</form>

{% endblock content %}