{% extends "main.html" %}

{% block content %}

<br>
<h2 class="text-start"><strong>Actualizar movimientos del expediente: {{expediente.numero_expediente}} </strong></h2>
<br>

<div class="container">
    <form method="POST" class="mb-5" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <!-- Renderiza el formset de documentos -->
        <h5>Documentos</h5>
        {{ documento_formset.management_form }}
        {% for form in documento_formset %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
        {% endfor %}


        <div class="d-flex justify-content-start mt-4">
       
            <button type="submit" class="btn btn-success me-2">Guardar cambios</button>
            
            <a href="{% url 'movimientos' expediente.numero_expediente %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>

{% endblock content %}
