{% load static %}

{% block content %}

<footer class="bg-dark text-light mt-5 pt-4 pb-4">
    <div class="container">
        <!-- Logo y nombre del estudio -->
        <div class="row justify-content-center mb-3">
            <div class="col-md-4 text-center">
                {% comment %} <img src="{% static 'images/07-01.jpg' %}" alt="Estudio Jurídico Logo" style="height: 50px;"> {% endcomment %}
                <p class="mt-2">&copy; 2024 Estudio Jurídico de la Dra. Aquino</p>
            </div>
        </div>


        <!-- Derechos y contactos -->
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <p class="small">Este sitio web es propiedad del Estudio Jurídico de la Dra. Aquino. Todos los derechos reservados.</p>
                <p class="small">Contacto: <a href="mailto:contacto@estudiojuridico.com" class="text-light text-decoration-none">contacto@estudiojuridico.com</a></p>
            </div>
        </div>
    </div>
</footer>

{% endblock content %}


