{% load static %}

{% block content %}

<footer class="bg-dark text-white mt-5 p-4 text-center">
    <div class="container">
        <p>&copy; Estudio Jurídico de la Dra Aquino.</p>
        <div>
            <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/leomessi/" class="text-white me-3"><i class="fab fa-instagram"></i></a>
            <a href="#" class="text-white"><i class="fab fa-whatsapp"></i></a>
        </div>
    </div>
</footer>


{% endblock content %}





