<!-- main.html -->
<!DOCTYPE html>

{% load static %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/app.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Estudio Jurídico</title>
</head>
<body>
    <!-- Incluye el navbar -->
    {% include 'navbar.html' %}

    <div class="container">
        <!-- Aquí se inyectará el contenido de otras vistas -->
        {% block content %}
        {% endblock content %}
    </div>
</body>
</html>
