{% load static %}

{% block content %}
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand" href="{% url 'index' %}">
                <img src="{% static 'images/07-01.jpg' %}" alt="EstudioJuridicoLogo" style="height: 40px;">
            </a>
            
            <!-- Botón para colapsar el menú en pantallas pequeñas -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <!-- Menú de navegación -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profesionales' %}">Profesionales</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'clientes' %}">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'expedientes' %}">Expedientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'turnos' %}">Turnos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Agenda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Informes</a>
                    </li>
                    {% endif %}
                    
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">
                            {% comment %} <i class="fas fa-sign-out-alt"></i> {% endcomment %}
                            Cerrar sesión
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">
                            {% comment %} <i class="fas fa-sign-in-alt"></i> {% endcomment %}
                            Login
                        </a>
                    </li>
                    {% endif %}


                </ul>
            </div>
        </div>
    </nav>
</header>
{% endblock content %}





