{% extends "main.html" %}

{% load extras %}

{% block content %}
<br>
<h2 class="text-start"><strong>Gestión de usuarios</strong></h2>
<br>

<h3 class="mb-4">Crear usuario con rol {{ tipo_usuario|capfirst }}</h3>

<div class="container">
  <div class="row justify-content-start">
      <div class="col-md-6">
          <form method="POST" class="mb-5 p-4 shadow-sm bg-white rounded" enctype="multipart/form-data">
              {% csrf_token %}
              
              <div class="mb-3">
                {{ form.username.label_tag }} 
                {{ form.username|add_class:"form-control" }}
              </div>

              <div class="mb-3">
                  {{ form.email.label_tag }} 
                  {{ form.email|add_class:"form-control" }}
              </div>
              
              <div class="mb-3">
                  {{ form.password.label_tag }} 
                  {{ form.password|add_class:"form-control" }}
              </div>

              {% comment %} <!-- Confirmación de contraseña para el usuario logueado solo si el rol es Admin -->
              {% if tipo_usuario == 'Admin' %}
              <div class="mb-3">
                  <label for="id_confirm_password">Contraseña actual (para confirmar):</label>
                  <input type="password" name="confirm_password" id="id_confirm_password" class="form-control" required>
              </div>
              {% endif %} {% endcomment %}

              <!-- Campos para cliente y profesional, ocultos inicialmente -->
              <div id="cliente-field" class="mb-3" style="display: none;">
                  {{ form.cliente.label_tag }} 
                  {{ form.cliente|add_class:"form-select" }}
              </div>
              
              <div id="profesional-field" class="mb-3" style="display: none;">
                  {{ form.profesional.label_tag }} 
                  {{ form.profesional|add_class:"form-select" }}
              </div>

              <div class="d-flex justify-content-start">
                  <button type="submit" class="btn btn-success me-2">Crear</button>
                  <a href="{% url 'usuarios' %}" class="btn btn-secondary">Cancelar</a>
              </div>
          </form>
      </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
      const rol = "{{ tipo_usuario }}";
      if (rol === "Cliente") {
          document.getElementById("cliente-field").style.display = "block";
      } else if (rol === "Abogado") {
          document.getElementById("profesional-field").style.display = "block";
      }
  });
</script>

{% endblock %}
