{% extends "main.html" %}

{% block content %}

<h1>Inicio de sesión</h1>
<br>

<!-- Verifica si el usuario ya está autenticado -->
{% if user.is_authenticated %}
    <div class="alert alert-info">
        Ya has iniciado sesión como {{ user.username }}.
    </div>
    <a href="{% url 'logout' %}" class="btn btn-danger">Cerrar sesión</a>
{% else %}
    <!-- Contenedor para controlar el ancho del formulario -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form method="POST" action="{% url "login" %}" id="loginForm">
                    {% csrf_token %}

                    <div class="mb-3">
                        <input type="text" class="form-control" name="username" placeholder="Ingrese su usuario">
                    </div>

                    <div class="mb-3 position-relative">
                        <input type="password" class="form-control" name="password" id="passwordInput" placeholder="Ingrese su contraseña">
                        <span class="position-absolute end-0 top-50 translate-middle-y pe-3" onclick="togglePasswordVisibility()" style="cursor: pointer;">
                            <i id="toggleIcon" class="bi bi-eye"></i>
                        </span>
                    </div>

                    <button type="submit" class="btn btn-secondary" id="loginButton">
                        <span id="buttonText">Login</span>
                        <div id="progressBar"></div>
                    </button>
                </form>
                <br>
            </div>
        </div>
    </div>

    <script>
      function togglePasswordVisibility() {
          const passwordInput = document.getElementById('passwordInput');
          const toggleIcon = document.getElementById('toggleIcon');
          if (passwordInput.type === 'password') {
              passwordInput.type = 'text';
              toggleIcon.classList.replace('bi-eye', 'bi-eye-slash');
          } else {
              passwordInput.type = 'password';
              toggleIcon.classList.replace('bi-eye-slash', 'bi-eye');
          }
      }

      document.getElementById('loginForm').addEventListener('submit', function (event) {
        var loginButton = document.getElementById('loginButton');
        var progressBar = document.getElementById('progressBar');
        var buttonText = document.getElementById('buttonText');

        loginButton.disabled = true; // Deshabilitar el botón durante la carga
        buttonText.innerText = "Cargando..."; // Cambiar el texto a "Cargando..."

        progressBar.style.width = "100%";

        setTimeout(function () {
          loginButton.innerText = "¡Cargado!";
          loginButton.style.backgroundColor = "#28a745"; // Cambia el color del botón a verde completo
        }, 2000);
      });
    </script>
{% endif %}

{% endblock content %}
