{% extends 'main.html' %}

{% block content %}
<br>
<div class="my-4">
    <h2>
        <i class="bi bi-person-circle"></i> Gestión de Usuarios
    </h2>
</div>
<hr>

<!-- Botones para crear nuevos usuarios -->
<div class="botones-crear mb-3">
    <a href="{% url 'crear_administrador' %}" class="btn btn-outline-success me-2">Crear Administrador</a>
    <a href="{% url 'crear_profesional' %}" class="btn btn-outline-warning me-2">Crear Profesional</a>
    <a href="{% url 'crear_secretaria' %}" class="btn btn-outline-danger me-2">Crear Secretaria</a>
    <a href="{% url 'crear_cliente' %}" class="btn btn-outline-info">Crear Cliente</a>
    
</div>
<hr>


<!-- Contenedor principal -->
<div class="container">

    <!-- Lista de Administradores -->
    <h2 class="mb-4">Administradores</h2>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Email</th>
                <th class="col-rol">Rol</th>
                <th>Fecha de creación</th>
                {% comment %} <th class="col-estado">Estado</th> {% endcomment %}
                <th class="col-opciones-usuarios">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in admins %}
            <tr>
                <td>{{ usuario.email }}</td>
                <td class="col-rol">{{ usuario.rol }}</td>
                <td>{{ usuario.fecha_ingreso }}</td>
                {% comment %} <td class="col-estado">estado-poner</td> {% endcomment %}
                <td class="col-opciones-usuarios">
                    <a href="{% url 'actualizar-usuario' usuario.pk %}" class="btn btn-warning btn-sm">
                        <i class="bi bi-pen"></i>
                    </a>
                    <a href="{% url 'eliminar-usuario' usuario.pk %}" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Lista de Profesionales -->
    <h2 class="mb-4">Profesionales</h2>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Profesional Asociado</th>
                <th>Email</th>
                <th class="col-rol">Rol</th>
                <th>Fecha de creación</th>
                {% comment %} <th class="col-estado">Estado</th> {% endcomment %}
                <th class="col-opciones-usuarios">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in profesionales %}
            <tr>
                <td>{{ usuario.profesional.full_name }}</td>
                <td>{{ usuario.email }}</td>
                <td class="col-rol">{{ usuario.rol }}</td>
                <td>{{ usuario.fecha_ingreso }}</td>
                {% comment %} <td class="col-estado">estado-poner</td> {% endcomment %}
                <td class="col-opciones-usuarios">
                    <a href="{% url 'actualizar-usuario' usuario.pk %}" class="btn btn-warning btn-sm">
                        <i class="bi bi-pen"></i>
                    </a>
                    <a href="{% url 'eliminar-usuario' usuario.pk %}" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Lista de Secretarias -->
    <h2 class="mb-4">Secretari@s</h2>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Secretari@ Asociad@</th>
                <th>Email</th>
                <th class="col-rol">Rol</th>
                <th>Fecha de creación</th>
                {% comment %} <th class="col-estado">Estado</th> {% endcomment %}
                <th class="col-opciones-usuarios">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in secretarias %}
            <tr>
                <td>{{ usuario.secretaria.full_name }}</td>
                <td>{{ usuario.email }}</td>
                <td class="col-rol">{{ usuario.rol }}</td>
                <td>{{ usuario.fecha_ingreso }}</td>
                {% comment %} <td class="col-estado">estado-poner</td> {% endcomment %}
                <td class="col-opciones-usuarios">
                    <a href="{% url 'actualizar-usuario' usuario.pk %}" class="btn btn-warning btn-sm">
                        <i class="bi bi-pen"></i>
                    </a>
                    <a href="{% url 'eliminar-usuario' usuario.pk %}" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Lista de Clientes -->
    <h2 class="mb-4">Clientes</h2>
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Cliente Asociado</th>
                <th>Email</th>
                <th class="col-rol">Rol</th>
                <th>Fecha de creación</th>
                {% comment %} <th class="col-estado">Estado</th> {% endcomment %}
                <th class="col-opciones-usuarios">Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario in clientes %}
            <tr>
                <td>{{ usuario.cliente.full_name }}</td>
                <td>{{ usuario.email }}</td>
                <td class="col-rol">{{ usuario.rol }}</td>
                <td>{{ usuario.fecha_ingreso }}</td>
                {% comment %} <td class="col-estado">estado-poner</td> {% endcomment %}
                <td class="col-opciones-usuarios">
                    <a href="{% url 'actualizar-usuario' usuario.pk %}" class="btn btn-warning btn-sm">
                        <i class="bi bi-pen"></i>
                    </a>
                    <a href="{% url 'eliminar-usuario' usuario.pk %}" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash-fill"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock content %}
